<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesores2</servlet-name>
        <servlet-class>controller.Profesores2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarColegio</servlet-name>
        <servlet-class>controller.AgregarColegio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarColegio</servlet-name>
        <servlet-class>controller.EliminarColegio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarColegio</servlet-name>
        <servlet-class>controller.EditarColegio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarProfesor</servlet-name>
        <servlet-class>controller.AgregarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarProfesor</servlet-name>
        <servlet-class>controller.EliminarProfesor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesores2</servlet-name>
        <url-pattern>/profesores2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarColegio</servlet-name>
        <url-pattern>/agregarcolegio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarColegio</servlet-name>
        <url-pattern>/eliminarcolegio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarColegio</servlet-name>
        <url-pattern>/editarColegio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProfesor</servlet-name>
        <url-pattern>/agregarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarProfesor</servlet-name>
        <url-pattern>/eliminarProfesor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
